@using Microsoft.Extensions.Diagnostics.HealthChecks;
@inject HealthCheckService HealthCheckService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlueManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/jquery/d" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dataTables.bootstrap4.min.css" />

</head>
@{
    var health = await HealthCheckService.CheckHealthAsync();
    var icon = health.Status == HealthStatus.Unhealthy ? "database_red.png" : "database_green.png";
    var connClass = health.Status == HealthStatus.Unhealthy ? "text-denger" : "";
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a href="#" id="popoverNavLink" class="navbar-brand @connClass">BlueManager</a>
                @*<a href="#" data-toggle="popover" data-trigger="click" class="navbar-brand">BlueManager</a>*@
                @*<a href="#" id="popoverNavLink" class="navbar-brand">BlueManager</a>*@

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="Index">Lokalizacja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tools" asp-action="Index">Narzędzia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Hubs" asp-action="Index">Koncentratory</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <br />
    <br />


    <script src="~/lib/bootstrap/dist/js/jquery-3.3.1.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            updateStatus();
        });

        $("#popoverNavLink").click(updateStatus);

        $.ajax({
            success: function () {
                $('#popoverNavLink').popover({
                    content: '',
                    trigger: 'click',
                    html: true,
                    animation: false
                })
            }
        });

        function updateStatus() {
            $.ajax({
                url: '/Status/Status',
                success: function (result) {
                    $("#popoverNavLink").attr("data-content", result)
                }
            });
        };

        //window.setInterval(function () {
        //    updateStatus();
        //    alert('<%=Session["UserName"] %>');
        //    var username = '<%= Session["UserName"] %>';
        //    alert(username );
        //    $.ajax({
        //        url: '/Status/Status',
        //        success: function (result) {
        //            var test = result;
        //        }
        //    });          
        //    }, 5000)
    </script>


</body>
</html>
